Django==3.2.19
django-extensions==3.2.1
djangorestframework==3.14.0
django-filter==23.2
PyJWT==2.7.0
python-decouple==3.8
requests==2.31.0

# Memcache
pymemcache==3.4.3
redis==4.5.5

# celery
celery
django-celery-beat